<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置shiro过滤器 id要与web,xml中的filtername一致-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="loginUrl" value="/login.jsp"></property>
        <property name="unauthorizedUrl" value="/unauthorizedUrl.jsp"></property>
        <property name="securityManager" ref="securityManager"></property>
        <property name="filterChainDefinitions">
            <value>
                <!--配置不需要认证的页面-->
                /static/**=anon
                /default.html=anon
                /login.jsp=anon
                /login=anon
                /logout=logout
                <!-- 上面的页面后，剩下的都要安全验证-->
                /**=authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 配置自定义的realm-->
        <property name="realm">
            <!-- 自己写的的reaml-->
            <bean class="com.shiro.MyReaml"></bean>
        </property>
    </bean>

    <!--- shiro对象创建和销毁工作，不加也行-->
    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>

</beans>