<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 全局配置文件-->
<configuration>

    <!-- 读取jdbc.propertites配置文件-->
    <properties resource="jdbc.properties"></properties>


    <!-- mybatis开启日志功能-->
    <settings>
        <setting name="logImpl" value="log4j"/>
    </settings>

    <environments default="mysql">
        <!-- 环境可以有多个，方便可以实现配置多个-->
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入mapper映射文件-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"></mapper>
        <mapper resource="mapper/DepartmentMapper.xml"></mapper>
        <mapper resource="mapper/WorkerMapper.xml"></mapper>
    </mappers>

</configuration>
