<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 全局配置文件-->
<configuration>

   <!--  读取jdbc.propertites配置文件
    <properties resource="jdbc.properties"></properties>


    &lt;!&ndash; mybatis开启日志功能&ndash;&gt;
    <settings>
        <setting name="logImpl" value="log4j"/>
    </settings>

    <environments default="mysql">
        &lt;!&ndash; 环境可以有多个，方便可以实现配置多个&ndash;&gt;
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    &lt;!&ndash;引入mapper映射文件&ndash;&gt;
    <mappers>
        <mapper resource="mapper/UserMapper.xml"></mapper>
        <mapper resource="mapper/DepartmentMapper.xml"></mapper>
        <mapper resource="mapper/WorkerMapper.xml"></mapper>
    </mappers>-->

    <settings>
        <!--开启mybatis支持延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--false,每个延迟加载属性会按需加载,在 3.4.1 及之前的版本中默认为 true-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

</configuration>
