<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace是相当于包名，用于区分不同类的-->
<!-- mapper.xml通过namespace来关联一起i-->
<mapper namespace="com.dao.UserDao">

    <!-- 结果集映射，用于将查询结果映射到指定的类对象中-->
    <resultMap id="usermap" type="com.entity.User">
        <!-- 将sql查询吃䣌指定column映射到type指定类的property属性中-->
        <result property="id" column="id"></result>
        <result property="loginname" column="loginname"></result>
        <result property="username" column="username"></result>
        <result property="state" column="state"></result>
        <result property="createtime" column="createtime"></result>
    </resultMap>

    <select id="selectall" resultMap="usermap">
        select id,loginname,username,state,createtime from user
    </select>

    <select id="selectByParams" resultMap="usermap">
        select * from user
        <where>
            <if test="loginname !=null and loginname !=''">and loginname  like  concat('%',#{loginname},'%')</if>
            <if test="username!=null and username!=''">and username like  concat('%',#{username},'%')</if>
        </where>
    </select>


    <select id="selectById" resultType="com.entity.User">
        select * from user where  id = #{id}
    </select>

    <delete id="delete">
        delete  from user where id = #{id}
    </delete>


    <update id="update" >
        update user
        <set>
            <if test="loginname !=null and loginname !=''">loginname = #{loginname},</if>
            <if test="username!=null and username!=''">username=#{username},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="createtime!=null">createtime=#{createtime},</if>
        </set>
        where id =#{id}
    </update>


    <insert id="insert">
        insert  into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginname !=null and loginname !=''">loginname,</if>
            <if test="username!=null and username!=''">username,</if>
            <if test="state!=null">state,</if>
            <if test="createtime!=null">createtime,</if>
        </trim>

        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginname !=null and loginname !=''">#{loginname},</if>
            <if test="username!=null and username!=''">#{username},</if>
            <if test="state!=null">#{state},</if>
            <if test="createtime!=null">#{createtime},</if>
        </trim>
    </insert>


</mapper>
